<template name='index'>
	<div class="col-xs-8">
		<div class="row">
			{{#each news}}
				{{> prevNews}}
			{{/each}}
		</div>
	</div>
	<div class="col-xs-4">
		{{#if currentUser.profile.isAdmin}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Админцентр
			</div>
			<div class="panel-body">
				{{> addNews}}
			</div>
		</div>
		{{/if}}
		<div class="panel panel-default">
			<div class="panel-heading">
				Статистика
			</div>
			<div class="panel-body">
				Новостей: 
			</div>
		</div>
	</div>
	  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter22754131 = new Ya.Metrika({id:22754131,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true});
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
<noscript><div><img src="//mc.yandex.ru/watch/22754131" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</template>

<template name="headerImage">
	<img src="images/header.png">
	<hr>
</template>

<template name="prevNews">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{tema}} - {{title}}
			{{#if currentUser.profile.isAdmin}}
				<span class="pull-right glyphicon glyphicon-remove deleteNews" data-id="{{_id}}"></span>
			{{/if}}
		</div>
		<div class="panel-body">
			{{short}}
			<hr>
			<button class="btn btn-primary btn-ms pull-right openNews" data-toggle="modal" data-target="#myModal">
	  			Читать полную новость
			</button>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							{{title}}
						</h4>
					</div>
					<div class="modal-body">
						{{desc}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							Закрыть
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="addNews">
	<div class="form-group">
		<input type="text" placeholder="Название" class="form-control" id='titleNewsI'>
	</div>
	<div class="form-group">
		<input type="text" placeholder="Тематика" class="form-control" id='temaNewsI'>
	</div>
	<div class="form-group">
		<input type="text" placeholder="Короткое описание" class="form-control" id='shortNewsI'>
	</div>
	<div class="form-group">
		<textarea placeholder="Полное описание" class="form-control" id='descNewsI'></textarea>
	</div>
	<div class="form-group">
		<button class='btn btn-success pull-right' id="addBtnNews">Добавить новость</button>
	</div>
</template>