<head>
	<link rel="stylesheet" type="text/css" href="client/views/pages/stat/stat.css">
</head>
<template name="stat">
	<div class="page-header">
		<h1>Статистика</h1>
	</div>
	<table class='table table-responsive'>
		{{#if users}}
			<thead>
				<tr>
					<th>Место</th>
					<th>Ник участника</th>
					<th>RS</th>
					{{#if currentUser.profile.isAdmin}}
						<th>
							Опции
							<button class="refreshAllRS btn btn-xs btn-primary" title="Обнулить все">
								<i class="glyphicon glyphicon-repeat"></i>
							</button>
						</th>
					{{/if}}
				</tr>
			</thead>
			<tbody>
				{{#each users}}
					<tr class='{{#if $eq this.index 1}}gold{{/if}}
								{{#if $eq this.index 2}}silver{{/if}}
								{{#if $eq this.index 3}}bronze{{/if}}'>
						<td>
							{{this.index}}
						</td>
						<td>
							<a href='/{{username}}' title='Перейти в профиль'>{{username}}</a> 
						</td>
						<td>
							{{profile.RS}}
						</td>
						{{#if currentUser.profile.isAdmin}}
							<td>
								<button class="incRS btn btn-xs btn-success" title='Добавить 5 RS' data-id='{{_id}}'>
									<i class='glyphicon glyphicon-plus'></i>
								</button>
								<button class="fineRS btn btn-xs btn-danger" title='Отнять 5 RS' data-id='{{_id}}'>
									<i class='glyphicon glyphicon-minus'></i>
								</button>
								<button class="refreshRS btn btn-xs btn-primary" title='Обнулить RS' data-id='{{_id}}'>
									<i class='glyphicon glyphicon-refresh'></i>
								</button>
							</td>
						{{/if}}
					</tr>
				{{/each}}
			</tbody>
		{{else}}
			<h1 class='text-muted'>Участников не существует</h1>
		{{/if}}
	</table>
	{{#if currentUser.profile.isAdmin}}
		
		<hr>
		{{> stat-faq}}
	{{else}}
		{{> stat-faq}}
	{{/if}}
</template>