a.dropdown-toggle {
	cursor: pointer;
}

.gold {
	background: linear-gradient(#ffee11, #ffcc00);
	opacity:1;
}

.gold:hover {
	opacity:0.8;
}

.silver {
	background: linear-gradient(#dcd8d8, #c0c0c0);
	opacity:1;
}

.silver:hover {
	opacity:0.8;
}

.bronze {
	background: linear-gradient(#d7863a, #b87333);
	opacity:1;
}

.bronze:hover {
	opacity:0.8;
}