a.dropdown-toggle {
	cursor: pointer;
}

.gold {
	background: #42484e;
	opacity:1;
}

.gold:hover {
	opacity:0.8;
}

.silver {
	background: #42484e;
	opacity:1;
}

.silver:hover {
	opacity:0.8;
}

.bronze {
	background: #42484e;
	opacity:1;
}

.bronze:hover {
	opacity:0.8;
}

.deleteContest {
	cursor: pointer;
}

.deleteCompetition {
	cursor: pointer;
}
